defaults:
  docker: &DOCKER
    - image: circleci/node:latest
  save-sha: &SAVE-SHA
    run:
        name: save SHA to a file
        command: echo $CIRCLE_SHA1 > .circle-sha
  restore-repo: &RESTORE-REPO
    restore_cache:
        keys:
          - v1-repo-{{ checksum ".circle-sha" }}
  restore-deps: &RESTORE-DEPS
    restore_cache:
        keys:
          - v1-deps-{{ checksum "yarn.lock" }}

version: 2
jobs:
  checkout:
    docker: *DOCKER
    steps:
      - checkout
      - *SAVE-SHA
      - save_cache:
          key: v1-repo-{{ checksum ".circle-sha" }}
          paths:
            - ~/project

  dependencies:
    docker: *DOCKER
    steps:
      - *SAVE-SHA
      - *RESTORE-REPO
      - *RESTORE-DEPS
      - run: |
          if [[ $CIRCLE_BRANCH == greenkeeper/* ]]; then
            sudo npm i -g --unsafe-perm greenkeeper-lockfile@1;
            greenkeeper-lockfile-update
          fi
      - run: yarn install --pure-lockfile
      - save_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
          paths:
            - ~/project/node_modules

  eslint:
    docker: *DOCKER
    steps:
      - *SAVE-SHA
      - *RESTORE-REPO
      - *RESTORE-DEPS
      - run: yarn eslint:workaround
      # Change to yarn eslint:ci when circleci workflow supports junit
      #- run: yarn eslint:ci
      #- store_test_results:
      #    path: ~/project/.reports
      #- store_artifacts:
      #    path: ~/project/.reports

  static-analysis:
    docker: *DOCKER
    steps:
      - *SAVE-SHA
      - *RESTORE-REPO
      - *RESTORE-DEPS
      - run: echo eslint
      - run: echo prettier
      - run: echo flow

  test:
    docker: *DOCKER
    steps:
      - *SAVE-SHA
      - *RESTORE-REPO
      - *RESTORE-DEPS
      - run: yarn build

  e2e:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - *SAVE-SHA
      - *RESTORE-REPO
      - *RESTORE-DEPS
      - run: echo phantomjs
      - run: echo chrome
      - run: echo firefox

  deploy:
    docker: *DOCKER
    steps:
      - *SAVE-SHA
      - *RESTORE-REPO
      - run: sudo npm i -g --unsafe-perm now now-purge
      - run: now-purge t $NOW_TOKEN
      - run: now -t $NOW_TOKEN deploy
      - run: now -t $NOW_TOKEN alias
      - run: now -t $NOW_TOKEN scale stipsan.me 1

workflows:
  version: 2
  build:
    jobs:
      # Heat up the cache, git checkout will only happen once
      - checkout
      # Installing dependencies will only happen once
      - dependencies:
          requires:
            # Do not run 'dependencies' job before 'checkout' is done
            - checkout
      - eslint:
          requires:
            - checkout
            - dependencies
      - static-analysis:
          requires:
            # Even though 'dependencies' already require 'checkout' it's
            # good practice to be explicit about what is required
            - checkout
            - dependencies
      - test:
          requires:
            - checkout
            - dependencies
      - e2e:
          requires:
            - checkout
            - dependencies
      - deploy:
          requires:
            - checkout
            # 'dependencies' is not needed, 'now.sh' will install dependencies
            - eslint
            - static-analysis
            - test
            - e2e
          filters:
            branches:
              only: master
